@media screen and (max-width:768.800px) {
    footer{
        top: 223vh;
        width: 985px;
    }
    .nav a{
        margin-left: 5% !important;
    }
}
@media screen and (max-width:843.200px){
    footer{
            width: 842px;
            top: 224vh;
    }
    
}
@media screen and (max-width:750.400px){
    img {
        width: 148px;
        height: 118px;
    }
    #n1{
        left: -121px;
    }
    #objec {
      
        padding-top: 3px;
        padding-left: 0px;
    }
    .container1 {
        top: 380px;
        height: 1300px;}
    
}
@media screen and (max-width:958px) {
   .tab{
        margin-left: 10% ;
    }
}
@media screen and (max-width:687.200px) {
     .tab{
         margin-left:5% ;
     }
}


/*width 1440 t0 1024 px*/
    @media screen and (max-width:1440px){
        #container-footer {
            margin-top: 15%;}

         .recent-projects-card {
                margin-left: -5%;}
           
                   footer {
                    top: 219vh;
                    width: 1435px;
                }
             .f-logo {
                        margin-top: 35px;
                        margin-left: -24px;
                    }
            header{
                width: 100%;
            }
            #objec {
                padding-top: 39px;
                padding-left: 50px;
            }
    }
    /*1024 to 768px*/
    @media screen and (max-width:1024px) and (min-width:768px){

        .recent-projects-card {
            margin-left: -175px;
            width: 710px;}
            .edu-div {
                margin-left: -160px;
                height: 238px;
            }
            img {
                width: 180px;
                height: 148px;
            }
            #card2 {
                left: 280px;
            }
            #card3 {
                left: 515px;
            }
            
            #n2 {
                top: -140px;
                left: 344px;}
            #n3 {
                top: -345px;
                left: 480px;
            }
            footer {
                width: 768px;              
              top: 250vh;
            }
            .f-logo {
                margin-top: 40px;
                margin-left: -2px;
            }           
    }     
    @media screen and (max-width:753.400px){
        .nav a {
            color: white;
            text-decoration: none;
            margin-left: 5%;
        }
    }
    @media screen and (max-width:742.400px){
        #n1 {
            position: relative;
            top: 35px;
            left: -94px;
            width: 40vh;
        }
        #n2 {
            position: relative;
            top: -138px;
            left: 197px;}
            #n3 {
                position: relative;
                top: -330px;
                left: 373px;}
                .recent-projects-card {
                    margin-left: -190px;}
                    img {
                        width: 188px;
                        height: 156px;
                    }
                    
                    .recent-projects-card h3 {
                        font-size: 15px;
                        padding-left: 10px;
                        font-weight: lighter;
                    }
    }
    @media screen and (min-width:787.200px) and (max-width:800px){
        .edu-div {
            margin-left: -53px;
            height: 271px;
        }
        .recent-projects-card {
            margin-left: -149px;
        }
        footer {
            width: 787px;
            top: 225vh;
        }
    }
 
    @media screen and (min-width:482px) and (max-width:600.200px){
        img {
            width: 104px;
            height: 93px;
        }
        #n1 {
            left: -82px;
        }
        #n1 {
            position: relative;
            top: 16px;
            left: -29px;
            width: 17vh;
        }
        #n2 {
            position: relative;
            top: -226px;
            width: 16vh;
            top: -213px;
            left: 83px;
        }

        #n3 {
            top: -444px;
            left: 212px;
            width: 21vh ;
        }
            #card1 {
                left: 17px;
            }
            #card2 {
                left: 151px;
            }
            #card3 {
                left: 282px;
            }
            .recent-projects-card {
                position: relative;
                width: 320px;
                height: 308px;
            }
            .recent-projects-card {
                margin-left: -71px;
            }
            footer {
                width: 485px;
                top: 216vh;
            }
            .recent-projects-card h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                padding-left: 15px;
                font-weight: lighter;
            }
            .recent-projects-card p {
                font-family: 'Libre Franklin', sans-serif;
                font-size: 10px;
                width: 123px;
            }
            #objecp {
                font-family: sans-serif;
                font-size:12px;}
                .edu-div {
                    height: 0px;
                }
                #n1 button {
                    margin-top: -3px;
                    margin-left: 8px;
                }
                #n2 button {
                    margin-top: 57px;
                }
                #n3 button {
                    margin-left: 64px;
                }
                .edu-div button {
                    font-size: 9px;
                    width: 70px;}
                    .rec-a {
                        padding-left:10px}
                   .container1 {
                    top: 412px;
                    height: 1477px;
                        }
                 #objec {
                      padding-top: 13px;
                      padding-left: 0px;
                 }
                 #fdiv3 q {
                    font-size: 10px;
                }
                #fdiv1 p {
                    font-size: 10px;
                }
    }
    @media screen and(min-width:601px) and (max-width:629) {
        footer {
            top: 214vh;
            width: 629px;
        }
        #fdiv3 q {
            font-size: 10px;
        }
        #card1 {
            left: 80px;
        }
        
    }